<section id="gallery" class="gallery">
<h2>Travel Gallery</h2>
<p class="subtitle">
    Explore beautiful moments from around the world.
</p>
<div class="gallery-container">
    <div class="gallery-item">
        <img src="/gallery1.jpg" alt="Harishchandra Fort">
    </div>
    <div class="gallery-item">
        <img src="/gallery2.jpg" alt="Lonavala">
    </div>
    <div class="gallery-item">
        <img src="/gallery3.jpg" alt="Harishchandra Fort">
    </div>
    <div class="gallery-item">
        <img src="/gallery4.jpg" alt="Temple">
    </div>
    <div class="gallery-item">
        <img src="/gallery5.jpg" alt="Fort">
    </div>
    <div class="gallery-item">
        <img src="/gallery6.jpg" alt="Lonavala Dam">
    </div>

</div>
</section>
