<section id="destinations" class="destinations">
    <h2>Popular Destinations</h2>

    <p class="subtitle">
        Explore some of the most beautiful places in the world.
    </p>
    <div class="destination-container">
        <div class="destination-card">
            <img src="/paris2.jpg" alt="Paris2">
            <h3>Paris</h3>
            <p>Experience the beauty of the Eiffel Tower and French culture.</p>
            <button>Explore</button>
        </div>
        
        <div class="destination-card">
            <img src="/bali.jpg" alt="Bali">
            <h3>Bali</h3>
            <p>Relax on beautiful beaches and explore amazing natural landscapes.</p>
            <button>Explore</button>
        </div>
        
        <div class="destination-card">
            <img src="/switzerland.jpg" alt="switzerland">
            <h3>Switzerland</h3>
            <p>Discover Stunning mountains, lakes and beautiful villages.</p>
            <button>Explore</button>
        </div>
        
        <div class="destination-card">
            <img src="/maldives.jpg" alt="maldives">
            <h3>Maldives</h3>
            <p>Enjoy crystal-clear water, beaches and peaceful resorts.</p>
            <button>Explore</button>
        </div>
        
        <div class="destination-card">
            <img src="/london.jpg" alt="London">
            <h3>London</h3>
            <p>Visit famous landmark and experience the cultute of London.</p>
            <button>Explore</button>

        </div>

    </div>
</section>
