<section id="contact" class="contact-section">
    <h2>Contact Us</h2>
    <p class="subtitle">
        Have a question or planning your next trip? Get in touch with us!
    </p>
    <div class="contact-container">
        <div class="contact-info">
            <h3>Get In Touch</h3>

      <p>📍 Pune, Maharashtra, India</p>
      <p>📧 travel@explore.com</p>
      <p>📞 +91 98765 43210</p>
      <p>
        We are here to help your perfect journey.
        Feel free to contact us anytime.
      </p>
    </div>
    <!--Contact Form-->
    <div class="contact-form">
    <form>
        <label>Name</label>
        <input type="text" placeholder="Enter your name">

        <label>Email</label>
        <input type="email" placeholder="Enter your email">

        <label>Subject</label>
        <input type="text" placeholder="Enter subject">

        <label>Message</label>
        <textarea rows="5" placeholder="Enter your Message"></textarea>

        <button type="submit">Send Message</button>
    </form>
 </div>
</div>

</section>